.card {
    width: 200px;
    height: 240px;
    margin-right: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    box-shadow: 5px 5px 5px #c0c0c0;
    font-family: "微軟正黑體";
}

.meal {
    .mealPrice {
        display: block;
        margin-top: 5px;
        padding-left: 5px;
        font-size: 20px;
        font-weight: 600;
    }

    .mealName {
        display: block;
        margin-top: 5px;
        padding-left: 5px;
        font-size: 16px;
        font-weight: 600;
        color: #5f5f5f;
    }

    .mealPrice::before {
        content: "$";
        display: inline-block;
    }
}