.Shop {
    margin-top: 10px;
    width: 100%;
    width: 860px;
}

a{
    margin: 0 10px;
}

@page {
    size: A4 portrait;
    margin: 0;
}

@media print {
    form {
        margin: 0;
        width: auto;
        height: auto;
    }
}