hr {
    margin: 5px;
    height: 0;
    border: 0;
    border-top: 2px solid black;
}

.TodoRoot {
    height: 600px;
    width: 1200;
    margin: 50px 10%;
    border: 1px solid;
    background: #1ba8ff;
    border-radius: 5px;
}

.StateCheck {
    margin: 0px 5px;
    height: 30px;
    width: 60px;
    color: #fff;
    border: 1px solid;
    background: #3a8ee3;
}

.TodoItem {
    margin-bottom: 5px;
    margin-top: 5px;
    display: flex;
}

.Done {
    background: #0bd4a9;
}

.UnDone {
    background: #eb3528;
}

.ListTitle {
    font-size: 30px;
    color: white;
}

.BoxWapper {
    display: flex;
}

.Box {
    border: 1px solid;
    width: 60%;
    height: 75%;
    margin: 0 1.5%;
    border-radius: 3px;
    text-align: center;
    color: aliceblue;
}

.TodoAdd {
    display: flex;
    text-align: center;
    color: white;
    font-size: 35px;
    margin-left: 25%;
}

.TodoAdd input[type="text"] {
    margin-left: 10px;
    margin-bottom: 3%;
    margin-top: 3%;
    width: 60%;
    height: 40px;
}

.ListOperation {
    margin-left: 5px;
}

.Operbtn {
    margin: 0 2.5px;
    height: 30px;
    width: 60px;
    color: #fff;
    background: #3a8ee3;
    border: 1px solid;
}

.Warning {
    background: #fb9d23;
}

button:active {
    box-shadow: 1px 1px 1px 1px #f3f0f0;
}